:host {
  display: block;
}

.alert {
  display: flex;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  align-items: center;
  padding: 16px 24px;
  color: #414142;
}

.alert p {
  margin: 0 !important;
}

.alert.info {
  background-color: #f4f7f7;
  border-color: #bdbfbf;
}

.alert.error {
  background-color: #feeaea;
  border-color: #f52e2e;
}

.alert app-icon {
  margin-right: 24px;
}
